* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL */
main {
    min-height: 100vh;
    background-image: url('./media/burger.png');
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2rem;


    text-align: center;
    font-weight: 700;
}

fieldset {
    border: 0;
    margin-bottom: 2.5rem;
}

fieldset>h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

input {
    cursor: pointer;
}

select {
    cursor: pointer;
}

/* MAIN/FORM */

/* CraftBurger */
#craftBurger h2 {
    margin: 1rem;
    font-size: 1.3rem;
    font-style: oblique;
}

#craftBurger div {
    margin-bottom: 0.5rem;
}

#craftBurger label {
    margin: 0.5rem;
}

.customSelect1 select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.customSelect1 select::-ms-expand {
    display: none;
}



.customSelect1 select {
    display: inline-block;
    padding: 7px 10px;
    padding-right: 2rem;
    outline: 0;
    background: #f0f0f0a4;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
    background-image: url(./media/arrowDown.png);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: calc(100% - 10px);
}

.customSelect1 select:hover {
    background-color: #B1E8CD;
}

/* deliveryData */

#deliveryData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#deliveryData label {
    display: flex;
    flex-direction: column;

    width: 35%;
    margin-bottom: 1rem;
}

#deliveryData label input {
    margin-top: 0.5rem;
    padding: 0.5rem;
    height: 1.5rem;
    border-radius: 10px;
}

#deliveryData label textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
}

button {
    padding: 0.3rem;
    margin: 1rem;
    width: 5rem;
    background: rgb(36, 36, 90);
    color: white;
    box-shadow: 1px 2px rgb(3, 3, 3);
    border-radius: 10px;
    cursor: pointer;

}

button:hover {
    background-color: rgba(7, 7, 59, 0.733);
}